# Dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
database/*.sqlite
database/*.db

# Environment variables
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
